<?php

declare(strict_types=1);

// appid 应用 ID
// app_private_key 应用私钥（注意此处是应用的私钥）
// alipay_public_key 支付宝公钥（注意此处是支付宝的公钥）

return [
    'appid' => 'your_appid',
    'app_private_key' => 'your_app_private_key',
    'alipay_public_key' => 'your_alipay_public_key',
];
